<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">
            <span class="fa fa-backward fa-lg"></span> Назад</button>
          <button mat-button>
            <span class="fa fa-thumbs-up fa-lg"></span> Нравиться</button>
          <button mat-button>
            <span class="fa fa-share fa-lg"></span> Поделиться</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-list>
      <h3 mat-line> Комментарии </h3>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p mat-line>{{comment.comment}}</p>
        <p mat-line>{{comment.rating}} Рейтинг</p>
        <p mat-line>--{{comment.author}} {{comment.date | date}}</p>
      </mat-list-item>
    </mat-list>

    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <!-- <p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p> -->
      <p>
        <mat-form-field class="half-width" dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
          <input matInput formControlName="author" placeholder="Ваше имя" type="text" required>
          <mat-hint>
            <span [hidden]="!(formErrors.author)">
              {{formErrors.author}}</span>
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-slider thumbLabel tickInterval="1" min="1" max="5" step="1" formControlName="rating">
        </mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width" dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
          <textarea matInput formControlName="comment" placeholder="Ваш комментарий" rows=12></textarea>
          <mat-hint>
            <span [hidden]="!(formErrors.comment)">
              {{formErrors.comment}}</span>
          </mat-hint>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Отправить</button>
    </form>
  </div>
  <div fxFlex="80" [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Идет загрузка . . . Пожалуйста, подождите...</h4>
  </div>
</div>